XTerm*foreground: rgb:77/77/77
!XTerm*background: rgb:00/00/00
XTerm*faceName: Liberation Mono:size=11:antialias=true
XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! X11 colors pieced together by Dmitry Medvinsky.
! ! Based on Vim colorscheme "badwolf" pieced together by Steve Losh.
! ! vim: fdm=marker
!
! ! Colors definition {{{
#define   plain            #f8f6f2
#define   snow             #ffffff
#define   coal             #000000
!
#define   brightgravel     #d9cec3
#define   lightgravel      #998f84
#define   gravel           #857f78
#define   mediumgravel     #666462
#define   deepgravel       #45413b
#define   deepergravel     #35322d
#define   darkgravel       #242321
#define   blackgravel      #1c1b1a
#define   blackestgravel   #141413
!
#define   dalespale        #fade3e
#define   dirtyblonde      #f4cf86
#define   taffy            #ff2c4b
#define   saltwatertaffy   #8cffba
#define   tardis           #0a9dff
#define   orange           #ffa724
#define   lime             #aeee00
#define   dress            #ff9eb8
#define   toffee           #b88853
#define   coffee           #c7915b
#define   darkroast        #88633f
! ! }}}
!
!
! ! Resourses {{{
XTerm*background:  darkgravel
!XTerm*foreground:  plain
XTerm*cursorColor: lime
XTerm*scrollColor: deepgravel
XTerm*fadeColor:   snow
XTerm*fading:      20
!
! !        black
XTerm*color0:      blackestgravel
XTerm*color8:      coal
!        red
XTerm*color1:      taffy
XTerm*color9:      taffy
!        green
XTerm*color2:      lime
XTerm*color10:     lime
!        yellow
XTerm*color3:      dalespale
XTerm*color11:     orange
!        blue
XTerm*color4:      tardis
XTerm*color12:     tardis
!        magenta
XTerm*color5:      dress
XTerm*color13:     dress
!        cyan
XTerm*color6:      saltwatertaffy
XTerm*color14:     saltwatertaffy
!        white
XTerm*color7:      brightgravel
XTerm*color15:     snow
! }}}
